<div class="row">
  <div class="col-md-12" >
    <h4 class="pb-5"><%= @sin.title %></h4>
    <div class="pt-2 pb-5">
      Content: <br>
      <%= @sin.content %>
    </div>
    
    <div class="pt-5 pb-5"></div>
    <hr>
    
    <div class="row">
      

    <div class="col-4"></div>
    <div class="col-6 pt-3">
    <div>
      <h5>comentes</h5>
      <table class="table">
        <% if @sin.coments.any? %>
          <thead class="thead-light">
            <tr>
              <td>coment</td>
              <td>Name</td>
              <td>Menu</td>
            </tr>
          </thead>
          <tbody>
            <% @sin.coments.each do |coment| %>
              <tr>
                <td>
                  <%= coment.content %>
                </td>
                <td>
                  <%= coment.name %>
                </td>
                <td>
                  <%= link_to 'Edit', edit_sin_coment_path(@sin,coment) %>
                  <%= link_to 'Delete', sin_coment_path(@sin, coment), 
                    method: :delete, data:{ confirm: 'ok ?'} %> 
                </td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <p>No coment yet.</p>
        <% end %>
        
      </table>
      
    </div>
    
    <h5>New</h5>
    
    <%= form_with model: [@sin, @coment], local: true do |f| %>
      <%= f.hidden_field :sin_id, { value: @sin.id} %>
      <div class="form-group">
        <label>name</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Content</label>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit "Post", class: 'btn btn-secondary' %>
      </div>
      
    <% end %>
    
    <div>
      <%= link_to '> Home', root_path %>
    </div>
    </div>
    <div class="col-2"></div>
    </div>
  </div>
</div>